{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Templates" />

<f:section name="content">

	<f:flashMessages />	
	<div class="tx-moox-address-admin">
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />Neue Vorlage</h1>
		<div class="tx-moox-address-admin-body">
			<div class="tx-moox-address-admin-form">				
				<div class="tx-moox-address-admin-form-header">
					Titel der Vorlage
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield required="1" type="text" property="title" placeholder="Titel der Vorlage" id="template-title" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Kategorie
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.select options="{categories}" property="category" id="template-category" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Mail-Betreff
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield required="1" type="text" property="subject" placeholder="Mail-Betreff" id="template-subject" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					HTML/FLUID-Code der Vorlage
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textarea property="template"  />					
				</div>														
			</div>
		</div>
	</div>
</f:section>