{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
		
	<div class="tx-moox-address-register-confirm">		
		<f:if condition="{successMessage}!=''">
			<div class="alert alert-success" role="alert">
				{successMessage}
			</div>
		</f:if>
		<f:if condition="{errorMessage}!=''">
			<div class="alert alert-danger" role="alert">
				{errorMessage}
			</div>
		</f:if>			
	</div>		

</f:section>