{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
		
	<div class="tx-moox-address-register">		
		<f:if condition="{successMessage}!=''">
			<div class="alert alert-success" role="alert">
				{successMessage}
			</div>
		</f:if>
		<f:if condition="{errorMessage}!=''">
			<div class="alert alert-danger" role="alert">
				{errorMessage}
			</div>
		</f:if>			
		<f:if condition="{registered}">
			<div class="alert alert-success" role="alert">
				<strong>Registrierung erfolgreich:</strong><br /> 
				Sir erhalten in Kürze ein Mail mit Hinweisen zum Abschluss Ihrer Registrierung.
			</div>
		</f:if>
		<f:form action="{action}" arguments="{save: 1}" controller="Pi1" noCache="1" method="POST" id="{action}Form" name="{action}" object="{object}">
			<f:render partial="Pi1/InnerForm" section="outer" arguments="{_all}" />
			<div class="clearfix">								
				<f:form.button type="submit" class="btn btn-success pull-right" title="Registrierung abschicken">		
					<span class="glyphicon glyphicon-floppy-saved"></span> &nbsp;Registrierung abschicken							
				</f:form.button>																	
			</div>
			<f:form.hidden property="save" value="1" />
		</f:form>			
	</div>		

</f:section>