{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{gender}==''">
	<v:variable.set name="gender" value="0" />
</f:if>
<v:switch value="{gender}">
	<v:case case="1" break="TRUE">
		<v:variable.set name="salutation" value="Sehr geehrter Herr" />
	</v:case>
	<v:case case="2" break="TRUE">
		<v:variable.set name="salutation" value="Sehr geehrte Frau" />
	</v:case>
	<v:case case="default">
	   <v:variable.set name="salutation" value="Guten Tag" />  
	</v:case>
</v:switch>
<f:if condition="{surname} != ''">
	<f:then>
		<h2>{salutation} <f:if condition="{title}!=">{title} </f:if>{surname},</h2>																	
	</f:then>
	<f:else>
		<h2>Sehr geehrte Damen und Herren,</h2>
	</f:else>
</f:if>