{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{settings.cssfile}">
	<v:asset.style name="moox-address-css" group="moox-address" path="{settings.cssfile}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />	
</f:if>
<div class="tx-moox-address">
	<f:flashMessages renderMode="div" />
	<f:render section="main" />
</div>