<f:layout name="Form" />

<f:section name="content">	
	<div class="tx-moox-address-admin">
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> Neue Adresse</h1>
		<div class="tx-moox-address-admin-body">			
			<div class="tx-moox-address-admin-form">				
				<div class="tx-moox-address-admin-form-header">
					Geschlecht/Anrede
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.select property="gender" id="address-gender" options="{0:'Keine Auswahl',1:'Herr',2:'Frau'}" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Titel
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="title" placeholder="Titel" id="address-title" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Vorname (* Pflichtfeld)
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield required="1" type="text" property="forename" placeholder="Vorname" id="address-forename" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Nachname
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="surname" placeholder="Nachname" id="address-surname" />
				</div>
				<f:if condition="{page}>0">
					<div class="tx-moox-address-admin-form-header<f:if condition="{allErrors.image}"> has-error</f:if>">
						Bild(er)
					</div>
					<div class="tx-moox-address-admin-form-item<f:if condition="{allErrors.image}"> has-error</f:if>">
						<f:form.upload property="image" id="import-image" /><f:form.submit property="addImage" class="add-image" title="Bild hinzufügen" value="Bild hinzufügen" />
						<f:if condition="{object.images -> f:count()}>0">
							<div class="tx-moox-address-admin-form-item-images">
								<f:for each="{object.images}" as="image" iteration="iteration">
									<div class="address-image">
										<div class="address-image-thumb">
											<f:image height="80c" width="80c" src="{image.src}" alt="{image.name}" />
										</div>
										<div class="address-image-name">
											<f:form.submit property="removeImage_{iteration.index}" onclick="return window.confirm('Wollen Sie das Bild wirklich löschen?')" class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete remove-image" title="Bild entfernen" value="" />
											{image.name}										
										</div>																			
										<f:form.hidden property="image_{iteration.index}" id="address-image-{iteration.index}" value="{image.object}" />
										<div class="clear"></div>
									</div>								
								</f:for>
							</div>
						</f:if>
					</div>
				</f:if>
				<div class="tx-moox-address-admin-form-header">
					Firma
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="company" placeholder="Firma" id="address-company" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Abteilung
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="department" placeholder="Abteilung" id="address-department" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Straße
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="street" placeholder="Straße" id="address-street" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					PLZ | Stadt/Ort
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="zip" placeholder="PLZ" id="address-zip" />
					<f:form.textfield type="text" property="city" placeholder="Stadt/Ort" id="address-city" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Region/Bundesland
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="region" placeholder="Region/Bundesland" id="address-region" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Land
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="country" placeholder="Land" id="address-country" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Telefon
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="phone" placeholder="Telefon" id="address-phone" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Handy
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="mobile" placeholder="Handy" id="address-mobile" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					Fax
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="fax" placeholder="Fax" id="address-fax" />
				</div>
				<div class="tx-moox-address-admin-form-header<f:if condition="{allErrors.email}"> has-error</f:if>">
					E-Mail
				</div>
				<div class="tx-moox-address-admin-form-item<f:if condition="{allErrors.email}"> has-error</f:if>">
					<f:form.textfield type="text" property="email" placeholder="E-Mail" id="address-email" />
				</div>
				<div class="tx-moox-address-admin-form-header">
					WWW
				</div>
				<div class="tx-moox-address-admin-form-item">
					<f:form.textfield type="text" property="www" placeholder="WWW" id="address-www" />
				</div>
				<f:if condition="{mailerActive}">
					<div class="tx-moox-address-admin-form-header<f:if condition="{allErrors.mailingAllowed}"> has-error</f:if>">
						Empfang von Newslettern erlauben
					</div>
					<div class="tx-moox-address-admin-form-item">
						<f:form.checkbox property="mailingAllowed" id="address-mailing-allowed" value="1" />
					</div>
				</f:if>
			</div>
		</div>
	</div>
</f:section>