{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:for each="{fields}" as="field" iteration="iteration">	
	<v:variable.set name="text" value="" />
	<v:switch value="{field.name}">
		<v:case case="name" break="TRUE">
			<v:variable.set name="text" value="{f:format.stripTags(value: item.forename)}{f:if(condition: item.surname, then: ' ')}{f:format.stripTags(value: item.surname)}" />
		</v:case>
		<v:case case="gender" break="TRUE">
			<v:variable.set name="genderKey" value="listview.gender.{item.gender}" />
			<v:variable.set name="text" value="{f:translate(key: genderKey, default: item.gender)}" />
		</v:case>
		<v:case case="address" break="TRUE">
			<v:variable.set name="text" value="{f:format.stripTags(value: item.zip)} {f:format.stripTags(value: item.city)}<br />{f:format.stripTags(value: item.street)}" />
		</v:case>
		<v:case case="default">
			<v:variable.set name="text" value="{v:variable.get(name: 'item.{field.name}')}" />
			<v:variable.set name="text" value="{f:format.stripTags(value: text)}" />
		</v:case>
	</v:switch>
	<f:for each="{field.additional}" as="additionalField">
		<v:switch value="{additionalField}">
			<v:case case="name" break="TRUE">
				<v:variable.set name="additionalText" value="{f:format.stripTags(value: item.forename)}{f:if(condition: item.surname, then: ' ')}{f:format.stripTags(value: item.surname)}" />
			</v:case>
			<v:case case="gender" break="TRUE">
				<v:variable.set name="genderKey" value="listview.gender.{item.gender}" />
				<v:variable.set name="additionalText" value="{f:translate(key: genderKey, default: item.gender)}" />
			</v:case>
			<v:case case="address" break="TRUE">
				<v:variable.set name="additionalText" value="{f:format.stripTags(value: item.zip)} {f:format.stripTags(value: item.city)}<br />{f:format.stripTags(value: item.street)}" />
			</v:case>
			<v:case case="default">
				<v:variable.set name="additionalText" value="{v:variable.get(name: 'item.{additionalField}')}" />
				<v:variable.set name="additionalText" value="{f:format.stripTags(value: additionalText)}" />
			</v:case>
		</v:switch>
		<v:variable.set name="text" value="{text}{fieldsSeparator}{additionalText}" />
	</f:for>
	<f:for each="{replacements}" as="replacement">
		<v:variable.set name="text" value="{v:format.replace(substring: replacement.search, content: text, replacement: replacement.replace)}" />
	</f:for>
	<td class="tx-moox-address-admin-table-value tx-moox-address-admin-table-value-{field.name}" onclick="toggleDetails({item.uid})">
		<f:if condition="{iteration.isFirst}">
			<span id="address-details-{item.uid}-expander" class="address-details-expander-reset pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>					
		</f:if>
		<span title="{text} [UID: {item.uid}]"><f:format.raw>{text -> f:format.crop(maxCharacters: field.lenght)}</f:format.raw></span>
	</td>				
</f:for>