{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tbody>
	<f:for each="{addresses}" as="item" iteration="iteration">
		<tr id="address-row-{item.uid}" class="tx-moox-address-admin-table-row tx-moox-address-admin-table-row-{f:if(condition: iteration.isEven, then: 'odd', else: 'even')}{f:if(condition: iteration.isLast, then: ' tx-moox-address-admin-table-row-last')}">
			<td class="tx-moox-address-admin-table-options" style="width: 120px">
				<f:link.action action="delete" arguments="{uid:item.uid,pagination:pagination}" onclick="return window.confirm('Wollen Sie diese Addresse wirklich löschen?')" title="{item.forename} {item.surname} [Email: {item.email}] löschen">
					<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
				</f:link.action>							
				<f:link.action action="edit" arguments="{uid:item.uid,pagination:pagination}" title="{item.forename} {item.surname} [Email: {item.email}] bearbeiten">
					<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span>
				</f:link.action>
				<f:link.action action="toggleState" arguments="{uid:item.uid,pagination:pagination}" title="{item.forename} {item.surname} [Email: {item.email}] {f:if(condition: item.hidden, then: 'deaktivieren', else: 'aktivieren')}">
					<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-{f:if(condition: item.hidden, then: 'unhide', else: 'hide')}">&nbsp;</span>
				</f:link.action>
				<f:if condition="{mailerActive}">
					<f:link.action action="toggleMailingAllowed" arguments="{uid:item.uid,pagination:pagination}" title="Newsletter-Empfang für {item.forename} {item.surname} [Email: {item.email}] {f:if(condition: item.mailingAllowed, then: 'deaktivieren', else: 'aktivieren')}">
						<f:if condition="{item.mailingAllowed}">
							<f:then>
								<img class="mailing-state" src="{f:uri.resource(path:'Icons/icon_mailing_allowed.gif')}" width="16" height="16" alt="Newsletter-Empfang deaktivieren" title="Newsletter-Empfang deaktivieren" />
							</f:then>
							<f:else>
								<img class="mailing-state" src="{f:uri.resource(path:'Icons/icon_mailing_disallowed.png')}" width="16" height="16" alt="Newsletter-Empfang aktivieren" title="Newsletter-Empfang aktivieren" />
							</f:else>
						</f:if>
					</f:link.action>
				</f:if>
			</td>
			<f:render partial="AddressesListColums" arguments="{fields: fields, item: item, replacements: replacements, fieldsSeparator: fieldsSeparator}" />	
		</tr>
		<tr class="address-details" id="address-details-{item.uid}">
			<td colspan="<v:math.sum a="{fields -> f:count()}" b="1" />">
				<f:render partial="AddressDetails" arguments="{item: item, mailerActive: mailerActive, replacements: replacements}" />
			</td>
		</tr>
	</f:for>
</tbody>