{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="address-details-content">										
	<div class="address-details-content-inner">
		<strong>Anrede/Geschlecht:</strong><br />
		<v:switch value="{item.gender}">
			<v:case case="1" break="TRUE">
				Herr
			</v:case>
			<v:case case="2" break="TRUE">
				Frau
			</v:case>
			<v:case case="default">
				Kein Angaben
			</v:case>
		</v:switch>
	</div>
	<f:if condition="{item.title}!=''">
		<div class="address-details-content-inner">
			<f:for each="{replacements}" as="replacement">
				<v:variable.set name="item.title" value="{v:format.replace(substring: replacement.search, content: item.title, replacement: replacement.replace)}" />
			</f:for>
			<strong>Titel:</strong><br />{f:format.raw(value: item.title)}
		</div>
	</f:if>
	<div class="address-details-content-inner">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.forename" value="{v:format.replace(substring: replacement.search, content: item.forename, replacement: replacement.replace)}" />
		</f:for>
		<strong>Vorname:</strong><br />{f:format.raw(value: item.forename)}
	</div>
	<f:if condition="{item.surname}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.surname" value="{v:format.replace(substring: replacement.search, content: item.surname, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Nachname:</strong><br />{f:format.raw(value: item.surname)}
		</div>
	</f:if>
	<f:if condition="{item.images -> f:count()}>0">
		<div class="address-details-content-inner">
			<strong>Bild(er):</strong><br />
			<div class="address-images">
				<f:for each="{item.images}" as="image" iteration="iteration">
					<div class="address-image-thumb">
						<f:image src="{image.uid}" treatIdAsReference="1" title="{image.originalResource.title}" alt="{image.originalResource.alternative}" height="80c" width="80c" />				
					</div>									
				</f:for>
				<div class="clear"></div>
			</div>
		</div>
	</f:if>
	<f:if condition="{item.company}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.company" value="{v:format.replace(substring: replacement.search, content: item.company, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Firma:</strong><br />{f:format.raw(value: item.company)}
		</div>
	</f:if>
	<f:if condition="{item.department}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.department" value="{v:format.replace(substring: replacement.search, content: item.department, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Abteilung:</strong><br />{f:format.raw(value: item.department)}
		</div>
	</f:if>
	<f:if condition="{item.street}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.street" value="{v:format.replace(substring: replacement.search, content: item.street, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Straße:</strong><br />{f:format.raw(value: item.street)}
		</div>
	</f:if>
	<f:if condition="{item.zip}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.zip" value="{v:format.replace(substring: replacement.search, content: item.zip, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>PLZ:</strong><br />{f:format.raw(value: item.zip)}
		</div>
	</f:if>
	<f:if condition="{item.city}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.city" value="{v:format.replace(substring: replacement.search, content: item.city, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Stadt/Ort:</strong><br />{f:format.raw(value: item.city)}
		</div>
	</f:if>
	<f:if condition="{item.region}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.region" value="{v:format.replace(substring: replacement.search, content: item.region, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Region/Bundesland:</strong><br />{f:format.raw(value: item.region)}
		</div>
	</f:if>
	<f:if condition="{item.country}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.country" value="{v:format.replace(substring: replacement.search, content: item.country, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Land:</strong><br />{f:format.raw(value: item.country)}
		</div>
	</f:if>
	<f:if condition="{item.phone}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.phone" value="{v:format.replace(substring: replacement.search, content: item.phone, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Telefon:</strong><br />{f:format.raw(value: item.phone)}
		</div>
	</f:if>
	<f:if condition="{item.mobile}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.mobile" value="{v:format.replace(substring: replacement.search, content: item.mobile, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Handy:</strong><br />{f:format.raw(value: item.mobile)}
		</div>
	</f:if>
	<f:if condition="{item.fax}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.fax" value="{v:format.replace(substring: replacement.search, content: item.fax, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Fax:</strong><br />{f:format.raw(value: item.fax)}
		</div>
	</f:if>
	<f:if condition="{item.email}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.email" value="{v:format.replace(substring: replacement.search, content: item.email, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>Email:</strong><br />{f:format.raw(value: item.email)}
		</div>
	</f:if>
	<f:if condition="{item.www}!=''">
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="item.www" value="{v:format.replace(substring: replacement.search, content: item.www, replacement: replacement.replace)}" />
		</f:for>
		<div class="address-details-content-inner">
			<strong>WWW:</strong><br />{f:format.raw(value: item.www)}
		</div>
	</f:if>
	<f:if condition="{mailerActive}">
		<div class="address-details-content-inner">
			<strong>Empfang von Newslettern erlaubt:</strong><br />
			<v:switch value="{item.mailingAllowed}">
				<v:case case="1" break="TRUE">
					Ja
				</v:case>				
				<v:case case="default">
					Nein
				</v:case>
			</v:switch>
		</div>
		<f:if condition="{item.registered}>0">
			<div class="address-details-content-inner">
				<strong>Für Newsletter registriert am:</strong><br /><f:format.date format="d.m.Y H:i:s">{item.registered}</f:format.date>
			</div>
		</f:if>
		<f:if condition="{item.unregistered}>0">
			<div class="address-details-content-inner">
				<strong>Vom Newsletter abgemeldet am:</strong><br /><f:format.date format="d.m.Y H:i:s">{item.unregistered}</f:format.date>
			</div>
		</f:if>
	</f:if>
	<div class="address-details-content-inner">
		<strong>Erstellt am:</strong><br /><f:format.date format="d.m.Y H:i:s">{item.crdate}</f:format.date>
	</div>
	<div class="address-details-content-inner">
		<strong>Zuletzt geändert am:</strong><br /><f:format.date format="d.m.Y H:i:s">{item.tstamp}</f:format.date>
	</div>
	<div class="address-details-content-inner">
		<strong>Adress-UID:</strong><br />{item.uid}
	</div>					
</div>