{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<th>
	<f:translate key="listview.{field.name}" default="{field.name}" />
	<v:variable.set name="sortField" value="{field.name}" />
	<f:for each="{field.additional}" as="additionalField" iteration="iteration">
		| <f:translate key="listview.{additionalField}" default="{additionalField}" />
		<v:variable.set name="sortField" value="{sortField}|{additionalField}" />
	</f:for>
	<span class="sort-asc<f:if condition="{filter.sortField}=={sortField}"><f:if condition="{filter.sortDirection}=='ASC'"> active</f:if></f:if>">
		<f:link.action action="index" arguments="{filter: {sortField: sortField, sortDirection: 'ASC'}}" title="Aufsteigend sortieren">
			&#9650;
		</f:link.action>
	</span> 
	<span class="sort-desc<f:if condition="{filter.sortField}=={sortField}"><f:if condition="{filter.sortDirection}=='DESC'"> active</f:if></f:if>">
		<f:link.action action="index" arguments="{filter: {sortField: sortField, sortDirection: 'DESC'}}" title="Absteigend sortieren">
			&#9660;
		</f:link.action>
	</span> 
</th>