<f:section name="outer">	
	<div class="panel panel-default">
		<f:if condition="{settings.header}">
			<div class="panel-heading">
				<h3>{settings.header}</h3>
			</div>
		</f:if>
		<div class="panel-body">		
			<f:for each="{fields}" as="field" iteration="iteration">
				<f:render section="{field.key}" arguments="{allErrors: allErrors, required: field.required}" />	
			</f:for>								
		</div>
	</div>
</f:section>
<f:section name="gender">	
	<div class="form-group<f:if condition="{allErrors.gender}"> has-error</f:if>">
		<label class="control-label">Anrede<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:form.select property="gender" options="{0:'Keine Auswahl',1:'Herr',2:'Frau'}" class="form-control" />
	</div>
</f:section>				
<f:section name="title">	
	<div class="form-group<f:if condition="{allErrors.title}"> has-error</f:if>">
		<label class="control-label">Titel<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="title" placeholder="Titel" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="title" placeholder="Titel" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="forename">	
	<div class="form-group<f:if condition="{allErrors.forename}"> has-error</f:if>">
		<label class="control-label">Vorname<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="forename" placeholder="Vorname" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="forename" placeholder="Vorname" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="surname">	
	<div class="form-group<f:if condition="{allErrors.surname}"> has-error</f:if>">
		<label class="control-label">Nachname<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="surname" placeholder="Nachname" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="surname" placeholder="Nachname" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="company">
	<div class="form-group<f:if condition="{allErrors.company}"> has-error</f:if>">
		<label class="control-label">Firma<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="company" placeholder="Firma" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="company" placeholder="Firma" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="department">
	<div class="form-group<f:if condition="{allErrors.department}"> has-error</f:if>">
		<label class="control-label">Abteilung<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="department" placeholder="Abteilung" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="department" placeholder="Abteilung" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="street">
	<div class="form-group<f:if condition="{allErrors.street}"> has-error</f:if>">
		<label class="control-label">Straße, Hausnr.<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="street" placeholder="Straße, Hausnr." class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="street" placeholder="Straße, Hausnr." class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="zip">
	<div class="form-group<f:if condition="{allErrors.zip}"> has-error</f:if>">
		<label class="control-label">PLZ<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="zip" placeholder="PLZ" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="zip" placeholder="PLZ" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="city">
	<div class="form-group<f:if condition="{allErrors.city}"> has-error</f:if>">
		<label class="control-label">Stadt/Ort<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="city" placeholder="Stadt/Ort" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="city" placeholder="Stadt/Ort" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="region">
	<div class="form-group<f:if condition="{allErrors.region}"> has-error</f:if>">
		<label class="control-label">Region<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="region" placeholder="Region" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="region" placeholder="Region" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="country">
	<div class="form-group<f:if condition="{allErrors.country}"> has-error</f:if>">
		<label class="control-label">Land<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="country" placeholder="Land" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="country" placeholder="Land" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="phone">
	<div class="form-group<f:if condition="{allErrors.phone}"> has-error</f:if>">
		<label class="control-label">Telefon<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>		
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="phone" placeholder="Telefon" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="phone" placeholder="Telefon" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="mobile">
	<div class="form-group<f:if condition="{allErrors.mobile}"> has-error</f:if>">
		<label class="control-label">Handy<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>		
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="mobile" placeholder="Handy" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="mobile" placeholder="Handy" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="fax">
	<div class="form-group<f:if condition="{allErrors.fax}"> has-error</f:if>">
		<label class="control-label">Fax<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>		
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="fax" placeholder="Fax" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="fax" placeholder="Fax" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="www">
	<div class="form-group<f:if condition="{allErrors.www}"> has-error</f:if>">
		<label class="control-label">WWW<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>		
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="www" placeholder="WWW" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="www" placeholder="WWW" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>
<f:section name="email">
	<div class="form-group<f:if condition="{allErrors.email}"> has-error</f:if>">
		<label class="control-label">Email<f:if condition="{required}"> (* Pflichtfeld)</f:if>:</label>		
		<f:if condition="{required}">
			<f:then>
				<f:form.textfield type="text" required="1" property="email" placeholder="Email" class="form-control" />
			</f:then>
			<f:else>
				<f:form.textfield type="text" property="email" placeholder="Email" class="form-control" />
			</f:else>
		</f:if>
	</div>
</f:section>