#tx-moox-address-admin-overlay 
{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
}

.tx-moox-address-admin {

}

.tx-moox-address-admin h1 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	vertical-align: middle;
}

.tx-moox-address-admin img.moox-icon {
	float: left;
	margin-right: 10px;
}

.typo3-docheader-buttons a {	
	display: inline-block;	
}

.typo3-docheader-buttons .buttongroup {	
	margin-top: -2px;
}

.typo3-docheader-buttons input[type="submit"]{
	border: 0px;
	padding: 0px;
	margin: 0px;	
}

.tx-moox-address-admin-table .sort-up {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tx-moox-address-admin-table .sort-asc a, .tx-moox-address-admin-table .sort-desc a {
	color: #888888;	
}

.tx-moox-address-admin-table .sort-asc a:hover, .tx-moox-address-admin-table .sort-desc a:hover {
	color: #FFFFFF;	
}

.tx-moox-address-admin-table .sort-asc.active a, .tx-moox-address-admin-table .sort-desc.active a  {
	color: #FFFFFF;	
}

.tx-moox-address-admin input.remove-image {
	border: 0px;
}

.tx-moox-address-admin input.add-image {
	padding: 6px;
	margin: 0px;
	margin-left: 10px;
	float: right;
	width: 18%;
}


.typo3-messages {
	margin-bottom: 20px !important;
}

img.mailing-state {
	vertical-align: middle;
}

.tx-moox-address-admin #typo3-dblist-pagination {
	background-color: #EEEEEE;
	padding-left: 10px;
	margin-top: 15px;
}

.tx-moox-address-admin a {
	text-decoration: none !important;
}

.tx-moox-address-admin .clear {
	clear: both;
}

.tx-moox-address-admin .tx-moox-address-admin-noaddresses {
	text-align: center;
	padding: 50px;
	background-color: #EEEEEE;
}

.tx-moox-address-admin .actions a{
	text-decoration: none;
}

.tx-moox-address-admin .pointer {
	cursor: pointer;
}

.tx-moox-address-admin-buttons {	
	font-weight: bold;	
}

.tx-moox-address-admin-buttons a {
	color: #000000;
	line-height: 28px;
	display: inline-block;
	padding: 3px;
	padding-right: 10px;
	background-position: 10px 5px;
	background-color: #EEEEEE;
	cursor: pointer;
	text-decoration: none;
}

.tx-moox-address-admin-buttons a:hover,.tx-moox-address-admin-buttons a.active {
	background-color: #DDDDDD;
}

.tx-moox-address-admin-filter {
	background-color: #EDEDED;
	border-top: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	padding: 12px;
	margin-bottom: 5px;
	font-family: Share, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.tx-moox-address-admin form {
	margin-bottom: 0px !important;
}

.tx-moox-address-admin-filter .filter-field {
	padding: 2px 0;
}

.tx-moox-address-admin-filter .filter-field select {
	height: 25px;
	line-height: 25px;	
}

.tx-moox-address-admin-filter .filter-field input {
	height: 25px;
	line-height: 25px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
}

.tx-moox-address-admin-filter .filter-mailing {
	width: 55%;
}

.tx-moox-address-admin-filter .filter-state {
	width: 25%;
}

.tx-moox-address-admin-filter .filter-per-page {
	width: 19%;
}

.tx-moox-address-admin-filter .filter-query {
	width: 88%;
	float: left;
}

.tx-moox-address-admin-filter .filter-submit {
	width: 10%;
	float: right;
}

.tx-moox-address-admin-filter .filter-field label {
	display: block;
	float: left;
	width: 150px;
}

.tx-moox-address-admin-filter .filter-field h2 {
	font-family: Share, Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
	margin-bottom: 5px;
	display: inline-block;
	background-color: #FFFFFF;
	color: #585858;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.tx-moox-address-admin-filter .filter-field label.label-folder-import {
	display: block;
	float: left;
	width: 200px;
}

.tx-moox-address-admin-filter .folder-list {		
	display: none;
	border: 1px solid #CCCCCC;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
	margin-bottom: 10px;	
	margin-top: 10px;	
}

.tx-moox-address-admin-filter .folder-list-import {
	margin-left: 200px;
}

.tx-moox-address-admin-filter .folder-list-footer {
	padding-left: 20px;
	border-top: 2px solid #999999;
	margin-top: -1px;
	background-color: #BBBBBB;
	color: #FFFFFF;
	font-weight: bold;
	text-align: right;
}

.tx-moox-address-admin-filter a#folder-list-close {
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;	
}

.tx-moox-address-admin-filter .folder-noothers {	
	background-color: #FFFFFF;
	padding:5px;
}

.tx-moox-address-admin-filter .folder-icon {	
	float: left;
	margin-right: 10px;
}

.tx-moox-address-admin-filter .current-folder-icon {		
	
}

.tx-moox-address-admin-filter .folder-list ul {
	margin: 0px;
	margin-bottom: -2px;
}

.tx-moox-address-admin-filter .folder-list ul li {
	background-color: #FFFFFF;
	border-bottom: 2px solid #EEEEEE;
	padding: 3px;
	padding-left: 15px;
}

.tx-moox-address-admin-filter .folder-list ul li:hover {
	background-color: #F1F1F1;	
}

.tx-moox-address-admin-filter .folder-list ul li.active {
	background-color: #F1F1F1;	
}

.tx-moox-address-admin-filter .folder-list ul li.folder-last {
	border: 0px;
}

.tx-moox-address-admin-filter .folder-list ul li a {
	display: block;
	text-decoration: none;
}

.tx-moox-address-admin-body {
	background-color: #DDDDDD;
	padding: 10px;
}

.tx-moox-address-admin-header {
	background-color: #585858;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
}

.tx-moox-address-admin-table {
	border-bottom: 1px solid #f3f3f3;
}

.tx-moox-address-admin-table  .address-details {
	display: none;
}

.tx-moox-address-admin-table  .address-details-content{
	margin: 5px;	
	padding: 20px;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
	background-color: #F9F9F9;
}

.tx-moox-address-admin-table  .address-details-content-inner{
	margin-bottom: 10px;
}

.tx-moox-address-admin-table  .address-details-content-inner img {
	margin-top: 5px;
	border: 1px solid #BBBBBB;
	padding: 3px;
}

.tx-moox-address-admin-table  .address-details-content-inner .address-images .address-image-thumb {
	float: left;
	margin-right: 5px;
}

.tx-moox-address-admin-table table th {
	background-color: #585858;
	color: #FFFFFF;
	padding: 5px;
	text-align: left;
}

.tx-moox-address-admin-table-row {
	
}

.tx-moox-address-admin-table-row-even {
	background-color: #f3f3f3;
}

.tx-moox-address-admin-table-row-odd {
	background-color: #FFFFFF;
}

.tx-moox-address-admin-table-row:hover {
	background-color: #d9edf7;
}

.tx-moox-address-admin-table-label {
	font-weight: bold;
	padding: 5px;
}

.tx-moox-address-admin-table-options {	
	padding: 5px;
}

.tx-moox-address-admin-table-value {	
	padding: 5px;
	cursor: pointer;
}

.tx-moox-address-admin-table-value .query, .address-details .query {
	background-color: #bce8f1;
}

.tx-moox-address-admin .tx-moox-address-admin-form {
	background-color: #EEEEEE;
	padding: 10px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-header {		
	background-color: #BBBBBB;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-header.has-error {
	background-color: #d9534f;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item {		
	background-color: #EEEEEE;	
	line-height: 30px;
	margin-bottom: 5px
}

.tx-moox-address-admin .tx-moox-address-admin-form-item.has-error {
	
}

.tx-moox-address-admin .tx-moox-address-admin-form-item.has-error input {
	border-color: #d9534f;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item-disabled {		
	background-color: #F9F9F9;	
	color: #BBBBBB;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item label {
	display: inline-block;
	width: 140px;
	padding-left: 10px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item select {
	width: 100%;
	margin: 0px;
	height: 30px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item input[type="text"]{
	width: 99.2%;
	margin: 0px;
	padding: 0.3%;
	line-height: 22px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item input[type="file"]{
	width: 80%;
	margin: 0px;
	padding: 0.3%;
	line-height: 22px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item input#import-separator {
	width: 20px;	
}

.tx-moox-address-admin .tx-moox-address-admin-form-item input#address-zip {
	width: 9%;	
}

.tx-moox-address-admin .tx-moox-address-admin-form-item input#address-city {
	width: 88.7%;	
}

.tx-moox-address-admin .tx-moox-address-admin-form-item .address-images {
	margin-bottom: 5px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item .address-image {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 1%;
	width: 97.8%;
	margin-top: 5px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item .address-image-thumb {
	width: 110px;
	float: left;
	height: 90px;
	overflow: hidden;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item .address-image-thumb img {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 3px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item .address-image-name {
	float: left;
}

.tx-moox-address-admin .tx-moox-address-admin-form-item .address-image-name input {
	margin-right:5px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-submit {		
	margin-top: 15px;
}

.tx-moox-address-admin .tx-moox-address-admin-form-submit input[type="submit"]{		
	line-height: 22px;
}
