{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/address.css')}" />

<f:be.container includeCssFiles="{admincss: cssFile}" loadExtJsTheme="false" extJsAdapter="jQuery" loadJQuery="true" loadPrototype="false">
	<div class="typo3-fullDoc tx-moox-address-admin">
		<div id="typo3-docheader">			
			<div class="typo3-docheader-functions">				
				<div class="left">
					<f:be.buttons.csh />						
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Adressen" controller="Address" action="index" />
						<f:be.menus.actionMenuItem label="Vorlagen" controller="Template" action="index" />
						<f:be.menus.actionMenuItem label="Import" controller="Import" action="index" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>			
		</div>		
		<f:form action="{action}" enctype="multipart/form-data" controller="Address" arguments="{pagination: pagination}" noCache="1" method="POST" id="{action}AddressForm" name="{action}" object="{object}">
			<div class="typo3-docheader-buttons">
				<div class="buttongroup">
					<div class="left">
						<v:switch value="{action}">
							<v:case case="add" break="TRUE">
								<a href="<f:uri.action action="index" />&tx_mooxaddress_moox_mooxaddressaddressmanagement[@widget_0][currentPage]={pagination.currentPage}">																			
									<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span>
								</a>
								<f:form.submit property="save" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save" title="speichern" value="" />														
								<f:form.submit property="saveAndClose" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save-close" title="speichern und zur Liste" value="" />
								<f:form.submit property="saveAndNew" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save-new" title="speichern und danach neue Adresse anlegen" value="" />
							</v:case>
							<v:case case="edit" break="TRUE">
								<a href="<f:uri.action action="index" />&tx_mooxaddress_moox_mooxaddressaddressmanagement[@widget_0][currentPage]={pagination.currentPage}">																			
									<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span>
								</a>
								<f:form.submit property="save" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save" title="speichern" value="" />														
								<f:form.submit property="saveAndClose" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save-close" title="speichern und zur Liste" value="" />
								<f:form.submit property="saveAndNew" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save-new" title="speichern und danach neue Adresse anlegen" value="" />
								<f:link.action action="delete" arguments="{uid:object.uid,pagination:pagination}" onclick="return window.confirm('Wollen Sie diese Addresse wirklich löschen?')" title="{object.forename} {object.surname} [Email: {object.email}] löschen">
									<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
								</f:link.action>
							</v:case>							
						</v:switch>
					</div>
				</div>
			</div>
			<div id="typo3-docbody">
				<div id="typo3-inner-docbody">
					<f:flashMessages renderMode="div" />				
					<f:render section="content" />
				</div>
			</div>
		</f:form>
	</div>
</f:be.container>