{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/address.css')}" />

<f:be.container includeCssFiles="{admincss: cssFile}" loadExtJsTheme="false" extJsAdapter="jQuery" loadJQuery="true" loadPrototype="false">
	<script src="{f:uri.resource(path:'JavaScript/address.js')}" type="text/javascript"></script>
	<div class="typo3-fullDoc tx-moox-address-admin">
		<div id="typo3-docheader">			
			<div class="typo3-docheader-functions">				
				<div class="left">
					<f:be.buttons.csh />						
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Adressen" controller="Address" action="index" />
						<f:be.menus.actionMenuItem label="Vorlagen" controller="Template" action="index" />
						<f:be.menus.actionMenuItem label="Import" controller="Import" action="index" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>			
		</div>		
		<div class="typo3-docheader-buttons">
			<div class="buttongroup">
				<div class="left">
					<f:link.action action="add" title="Neue Adresse">
						<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-new">&nbsp;</span>
					</f:link.action>
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />				
				<f:render section="content" />
			</div>
		</div>		
	</div>
</f:be.container>